/*=====================1.0 CSS Reset===========================*/

/* 1.1 general reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Roboto, sans-serif, Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1.2 Browser specific reset*/



/*=====================2.0 General===========================*/

span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	line-height: 1.4em;
	font-size:13px;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center{
	padding:5px 0;
}

h1{
	font-size:24px;
}

h2{
	font-size:22px;
}

h3{
	font-size:20px;
}

h4{
	font-size:18px;
}

h5{
	font-size:16px;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.hidden{
	display:none;
}

/*=====================3.0 Header===========================*/
.menu-layer{
	position: fixed;
	left:0;
	top:0;
	z-index: 99;
	height:60px;
	width:100%;
	background-color:#F4511E;
	color:#fff;
}

.menu-layer a{
	color: #fff;
	text-decoration: none;
	display: block;
	margin:0;
}

.logo
{
	float:left;
}

.search{
	float:right;
}

.menu-list{
	float:right;
}

.menu-item{
	display:inline-block;
	float:left;
}
.menu-item-button > button{
	transition: background-color 0.6s ease !important;
	border-radius:50%;
}

.current-menu-item > button{
	transition: background-color 0.6s ease !important;
	background-color:#E64A19 !important;
}

.mobile-menu{
	display:none;
}

/*=====================4.0 Body===========================*/

/* 4.1 general */

.full-width-wrapper{
	display: block;
	width:100%;
	height:100vh;
	background-color: #000;
/*	background: url("img/home.jpg") center center;
	background-size: cover;*/
}

.content-wrapper{
	width:940px;
	margin:0 auto;
	height:100%;
}

.subscriptions{
	width:640px;
	float:left;
	padding-top:40px;
}

.sidebar{
	width:300px;
	float:right;
	margin-left:30px;
	height:90px;
	background-color: red;
}

.raised-button{
	margin:5px 10px;
}

.loading-spinner{
	background-color:rgba(0,0,0, 0.541176);
	position:fixed;
	display: block;
	left:0;
	top:0;
	overflow-x:hidden;
	overflow-y:hidden;
	width:100%;
	height:100%;
	z-index: 999;
}

.loading-spinner.hidden{
	display:none;
}

/* 4.2 home */

.home-content-wrapper{
	display:block;
	position:absolute;
	width:500px;
	height:300px;
	top:50%;
	left:50%;
	margin-top:-90px;
	margin-left:-250px;
	border-radius: 15px;
	text-align: center;
	background:rgba(256,256,256,0.6);
}

.homepage-button{
	display: block;
	margin:20px 0;
}

/*  4.3. subscription */

.image_gallery{
	display:block;
	clear:both;
	padding-bottom:30px;
}

.nine-layout{
	box-sizing: border-box;
	display: block;
	float: left;
	width:33.333333%;
	border: 2px solid #fff;
	padding-bottom: 33.33333%;
	overflow: hidden;
}

.four-layout{
	box-sizing: border-box;
	display: block;
	float: left;
	width:50%;
	border: 2px solid #fff;
	padding-bottom: 50%;
	overflow: hidden;
}

.one-layout{
	box-sizing: border-box;
	display: block;
	width:100%;
	border: 2px solid #fff;
	padding-bottom: 100%;
	overflow: hidden;
}

.single-image{
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
}


/*=====================5.0 footer===========================*/

/*=====================6.0 Responsive===========================*/




