
@media only screen and (max-width: 740px){ 
	
/*=====================1.0 General===========================*/

/*=====================2.0 Header===========================*/

	.menu-layer .logo{
		display:none;
	}

	.menu-layer .desktop-menu{
		display:none;
	}

	.menu-layer .mobile-menu{
		display:block;
	}


	.mobile-menu .menu-list{
		width:100%;
		background-color:#F3511E;
	}

	.menu-item{
		width:16.6666666%;
		text-align: center;
	}

/*=====================3.0 Body===========================*/

	.home-content-wrapper{
		width:90%;
		top:50%;
		left:0;
		margin-left:5%;
		margin-right: 5%;
	}


/*=====================4.0 footer===========================*/

/*=====================5.0 Responsive===========================*/



}






