

	
/*=====================1.0 General===========================*/

/*=====================2.0 Header===========================*/
@media screen and (max-width: 640px) {
	.menu{
		height:auto;		
	}
	.menu .menu-item-button{
		padding:0;
		height:auto;
		width:auto;
	}

	.login-button{
		position:fixed;
		top:46px;

	}

	.user-menu{
		top: 41px;
	}

}
/*=====================3.0 Body===========================*/


/*=====================4.0 footer===========================*/

/*=====================5.0 Responsive===========================*/









