/*=====================1.0 CSS Reset===========================*/

/*remove the blue border of default chrome style*/
:focus{
	outline:0 !important;
}

a:hover{
	text-decoration:none !important;
}
/*=====================2.0 General===========================*/
.outter-wrapper{
	background-color: #F25D30;
	padding-top: 70px;
	overflow: hidden;
}

.wrapper{
	padding-top:30px;
}

.centerbox-outter-wrapper{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(56, 56, 56,0.7);
	z-index:10;
}

.centerbox-wrapper{
	position:fixed;
	top:50%;
	left:50%;
	width:70%;
	height:0;
}

.centerbox{
	position:relative;
	left:-50%;
    -webkit-transform: translateY(-50%) translateZ(0);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%) translateZ(0);
	background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.centerbox-wrapper.spinner{
	width:auto;
}

.centerbox.spinner{
	border-radius: 20px;
	color:#F25D30;
	padding:0;
	height:40px;
    -webkit-animation: spin 1.5s infinite linear;
}

.material-icons.spinner{
    font-size:40px;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

.login-button{
	position:fixed;
	top:70px;
	right:10px;
}

.login-button button{
	margin:6px 0;
}
/*=====================3.0 Header===========================*/

.menu{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#F25D30;
-webkit-box-shadow: 0px 3px 6px 0px rgba(143,143,143,1);
-moz-box-shadow: 0px 3px 6px 0px rgba(143,143,143,1);
box-shadow: 0px 3px 6px 0px rgba(143,143,143,1);
}

.menu .menu-item-button{
	padding:0;
	height:64px;
	width:64px;
}

.menu-item-button button{
	color:#fff;
	height:100%;
	border:none;
	background-color:transparent;
	border-radius: 0;
	box-shadow:none;
}

.menu-item-button button:hover,
.menu-item-button button:focus,
.menu-item-button button:active,
.menu-item-button button:active:focus,
.current-menu-item button{
	background-color:#fff;
	color:#F25D30;
}

/*=====================4.0 Body===========================*/

/* 4.1 general */



/* 4.2 home */


/*  4.3. subscription */


/*=====================5.0 footer===========================*/

/*=====================6.0 Responsive===========================*/




